{% set themeColor = themeColor %}
{% set darkMode = darkMode %}
{% extends "base.html.twig" %}

{% block title %}Portfolio | About me{% endblock %}

{% block body %}
<div class="container">
    <div class="center">
        <h1 class="display-1">About me</h1>
    </div>
    
</div>
{% endblock %}