{% extends 'base.html.twig' %}

{% block title %}Portfolio | Photos{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block body %}

<div class="container-lg">
<form action="" method="post">
    <input type="text" name="random" value="random" hidden>
    <button type="submit" class="btn btn-primary">Randomize</button>
</form>
</div>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        {% for photo in photos %}
            <div class="col-{breakpoint}-auto vert-align">
                <a href="{{ path('photoShow', {'id' : photo.id}) }}"><img class="resize img-thumbnail" src="{{ photo.photo }}" alt=""></a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
