{% extends 'base.html.twig' %}

{% block title %}Portfolio | Photos{% endblock %}
{% block stylesheet %}
<style>
.vert-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

</style>
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row justify-content-md-center">
        {% for photo in photos %}
            <div class="col-{breakpoint}-auto vert-align">
                <a href="{{ path('photoShow', {'id' : photo.id}) }}"><img class="resize img-thumbnail" src="{{ photo.photo }}" alt=""></a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
